<footer class="site-footer">
  <span>&copy; {{ site.time | date: '%Y' }} Rooney Pitchford</span>
  <span class="footer-links">
    <a href="{{ site.social.bandcamp }}" target="_blank" rel="noopener">Bandcamp</a>
    &nbsp;&middot;&nbsp;
    <a href="{{ site.social.spotify }}" target="_blank" rel="noopener">Spotify</a>
    &nbsp;&middot;&nbsp;
    <a href="{{ site.social.apple_music }}" target="_blank" rel="noopener">Apple Music</a>
    &nbsp;&middot;&nbsp;
    <a href="{{ '/feed.xml' | relative_url }}">RSS</a>
  </span>
</footer>
